aiohttp==3.7.4.post0
APScheduler==3.7.0
attrs==20.3.0
better-profanity==0.7.0
cachetools==4.2.2
discord==1.0.1
discord-ext-menus==1.0.0a30+g309c702
discord.py==1.7.1
google-api-core==1.26.3
google-api-python-client==2.3.0
google-auth==1.30.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
gufw==21.4.0
PyNaCl==1.4.0
youtube-dl==2021.4.26
psutil==5.8.0