aiohttp==3.7.4.post0
aiosqlite==0.17.0
apparmor==3.0.1
appdirs==1.4.4
application-utility==1.3.2
APScheduler==3.7.0
astroid==2.5.3
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.5
better-profanity==0.7.0
black==20.8b1
btrfsutil==5.11.1
CacheControl==0.12.6
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==3.4.7
cupshelpers==1.0
cycler==0.10.0
discord==1.0.1
discord-ext-menus==1.0.0a30+g309c702
discord.py==1.7.1
distlib==0.3.1
distro==1.5.0
dnspython==1.16.0
docopt==0.6.2
evdev==1.4.0
flake8==3.8.4
gufw==21.4.0
html5lib==1.1
idna==3.1
injector==0.18.4
isort==5.8.0
jedi==0.17.2
keyutils==0.6
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
lensfun==0.3.95
LibAppArmor==3.0.1
libnacl==1.7.2
lit==0.11.1.dev0
louis==3.17.0
lutris==0.5.8.3
lxml==4.6.3
Markdown==3.3.4
matplotlib==3.4.1
mccabe==0.6.1
meson==0.57.2
msgpack==1.0.2
multidict==5.1.0
mypy==0.812
mypy-extensions==0.4.3
netsnmp-python==1.0a1
npyscreen==4.10.5
numpy==1.20.1
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.21.0
parso==0.7.1
pathspec==0.8.1
peewee==3.14.4
pep517==0.10.0
pep8==1.7.1
Pillow==8.1.2
pluggy==0.13.1
ply==3.11
progress==1.5
psutil==5.8.0
pwquality==1.4.4
py3nvml==0.2.6
pybind11==2.6.2
pycairo==1.20.0
pycodestyle==2.6.0
pycparser==2.20
pycups==2.0.1
pycurl==7.43.0.6
pydocstyle==6.0.0
pyflakes==2.2.0
PyGObject==3.40.1
pyls-mypy==0.1.8+6.g3b105b4
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.8.1
pysmbc==1.0.23
python-dateutil==2.8.1
python-dotenv==0.17.0
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-libtorrent==1.2.11
python-xlib==0.29
pytz==2021.1
pyxdg==0.27
PyYAML==5.4.1
rados==2.0.0
rbd==2.0.0
regex==2021.4.4
reportlab==3.5.66
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
rgw==2.0.0
rope==0.18.0
Rx==3.1.1
six==1.15.0
snowballstemmer==2.1.0
team==1.0
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.7.4.3
tzlocal==2.1
udiskie==2.3.3
ufw==0.36
ujson==4.0.2
urllib3==1.26.4
utils==1.0.1
webencodings==0.5.1
wrapt==1.12.1
yapf==0.31.0
yarl==1.6.3
zstandard==0.15.2
